<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CustomLoginDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA70C6F0233D46A6005CB894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA70C706233D46A9005CB894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA70C711233D46A9005CB894</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
